<% @places.each do |place| %>
  <div class="booyah-box col-10 offset-1">
    <!--<h1><%= place.name %></h1><br />-->
    <h1><%= link_to place.name, place_path(place) %></h1><br />
    <i><%= place.address %></i><br /><br />
    <p><%= place.description %></p><br />
    <!--if a place has a user, add the user email to the index page-->
    <% if place.user.present? %>
      <small><%= place.user.email %></small>
    <% end %>
  </div>

<% end %>

<%= will_paginate @place, renderer: BootstrapPagination::Rails %>
 