<div class="booyah-box col-10 offset-1">
  <h1><%= @place.name %></h1>
  <i><%= @place.address %></i>
  <br/><br/>
  <p><%= @place.description %></p>

 
<style>
   
  </style>
  </head>
  <body>
  <div id="map"></div>

<% if @place.latitude.present? && @place.longitude.present? %>
  <script>

    function initMap() {
      var myLatLng = {lat: <%= @place.latitude %>, lng: <%= @place.longitude %>};

      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 12,
        center: myLatLng
      });

      var marker = new google.maps.Marker({
        position: myLatLng,
        map: map,
        title: 'Hello World!'
      });
    }
  </script>

  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyApVVPW8cSuNDFJtqCLBe2FkFjtzj6d-3E&callback=initMap">
  </script>

  <div id="map"></div>
<% end %>

<br />

  <div class="float-right">
    <!--if user is the current user then they can only see the places that they've added-->
    <% if current_user && current_user == @place.user %>
    <!--Lets user edit place, only shows edit button to user logged in-->
      <%= link_to 'Edit', edit_place_path(@place), class: 'btn btn-primary' %>
    <!--Lets user delete place and only shows destory button once user is logged in, due to if statement abov-->
      <%= link_to 'Destroy', place_path(@place), method: :delete, data: {confirm: 'Are you sure you want to delete this?'},class: 'btn btn-danger' %>
    <% end %>
    
    <!--Lets user destroy place, confirm makes sure you want to delete it-->
  
  </div>
</div>
<!--make sure to add clear class in master.scss for clear to work-->
<div class="clear"></div>
<!--Uses the simple_form gem, the url:'#' is where the comment form should be posted-->
<%= simple_form_for @comment, url: '#' do |f| %>
  <%= f.input :message %>
  <%= f.input :rating %>
  <%= f.submit "Add a Comment", class: 'btn btn-primary' %>
<% end %>