<div class="booyah-box col-10 offset-1">
  <h1><%= @place.name %></h1>
  <i><%= @place.address %></i>
  <br/><br/>
  <p><%= @place.description %></p>

<div class="booyah-box col-12">
  <h1>Add a photo</h1>
  <%= simple_form_for @photo do |f| %>
    <%= f.input :picture %>
    <%= f.submit "Submit a photo", class: 'btn btn-primary' %>  
  <% end %>
</div>

<style>
   
  </style>
  </head>
  <body>
  <div id="map"></div>

<% if @place.latitude.present? && @place.longitude.present? %>
  <script>

    function initMap() {
      var myLatLng = {lat: <%= @place.latitude %>, lng: <%= @place.longitude %>};

      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 12,
        center: myLatLng
      });

      var marker = new google.maps.Marker({
        position: myLatLng,
        map: map,
        title: 'Hello World!'
      });
    }
  </script>

  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyApVVPW8cSuNDFJtqCLBe2FkFjtzj6d-3E&callback=initMap">
  </script>

  <div id="map"></div>
<% end %>

<br />

  <div class="float-right">
    <!--if user is the current user then they can only see the places that they've added-->
    <% if current_user && current_user == @place.user %>
    <!--Lets user edit place, only shows edit button to user logged in-->
      <%= link_to 'Edit', edit_place_path(@place), class: 'btn btn-primary' %>
    <!--Lets user delete place and only shows destory button once user is logged in, due to if statement abov-->
      <%= link_to 'Destroy', place_path(@place), method: :delete, data: {confirm: 'Are you sure you want to delete this?'},class: 'btn btn-danger' %>
    <% end %>
    
    <!--Lets user destroy place, confirm makes sure you want to delete it-->
  
  </div>
</div>
<!--make sure to add clear class in master.scss for clear to work-->
<div class="clear"></div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Add a comment</h4>
      </div>
      <div class="modal-body">
        <!--Uses the simple_form gem, the url:'# if you haven't found
        the path yet' is where the comment form should direct to-->
        <%= simple_form_for @comment, url:  place_comments_path(@place) do |f| %>
          <%= f.input :message %>
          <%= f.input :rating, as: :select, collection: Comment::RATINGS %>
          <%= f.submit "Add a Comment", class: 'btn btn-primary' %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div class="col-10 offset-1"</div>
  <h1 class="float-left">Comments</h1>
  <!--Code for modal-->
  <!-- Button trigger modal (Modal code listed above)-->
  <button type="button" class="btn btn-primary btn-lg float-right" data-toggle="modal" data-target="#myModal">
    Add a comment
  </button>
</div>

<div class="clear"</div>

<!--Make sure to wrap col-12, col-sm-6 in a div class="row" for them to work-->
<div class="row">
<% @place.comments.each do |comment| %>
  <div class="col-12 col-sm-6">
    <blockquote>
      <!--Calls humanized_rating method set in comment.rb model-->
      <% if comment.humanized_rating.present? %>
        <b><%= comment.humanized_rating %></b> -
      <% end %>
      <%= comment.message %>
      <small><%= comment.user.email %></small>
    </blockquote>
  </div>
<% end %>




