<div class="booyah-box col-10 offset-1">
  <h1><%= @place.name %></h1>
  <i><%= @place.address %></i>
  <br/><br/>
  <p><%= @place.description %></p>
  <div class="float-right">
    <!--if user is the current user then they can only see the places that they've added-->
    <% if current_user && current_user == @place.user %>
    <!--Lets user edit place, only shows edit button to user logged in-->
      <%= link_to 'Edit', edit_place_path(@place), class: 'btn btn-primary' %>
    <!--Lets user delete place and only shows destory button once user is logged in, due to if statement abov-->
      <%= link_to 'Destroy', place_path(@place), method: :delete, data: {confirm: 'Are you sure you want to delete this?'},class: 'btn btn-danger' %>
    <% end %>
    
    <!--Lets user destroy place, confirm makes sure you want to delete it-->
  
  </div>
</div>